/* Убираем стандартные отступы браузера */
body, html {
  margin: 0;
  padding: 0;
  background-color: #080808; /* Наш глубокий черный */
  color: white;
  font-family: 'Unbounded', sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
